.marker-btn {
  background: none;
  border: none;
  cursor: pointer;
  outline: none;
  position: absolute;
  left: -11px;
  right: 0px;
  top: -28px;
}

.marker-btn img {
  width: 30px;
  height: 30px;
}