.marker-btn {
  background: none;
  border: none;
  cursor: pointer;
  outline: none;
  position: absolute;
  left: -16px;
  right: 0px;
  top: -30px;
}

.marker-btn img {
  width: 30px;
  height: 30px;
}

.MuiSvgIcon-fontSizeLarge {
  font-size: 2.2875rem !important;
}
