.log-out-text {
    height: 50px;
    font-size: 15px;
    margin-top: -5px;
}

.btn {
    width: 50%;
    padding-left: 12% !important;
    border-radius: 50% !important;
    background-color: white !important;
    margin-top: -17px !important;
}

.AccountIcon {
    width: 1.6em !important;
    height: 1.6em !important;
    display: inherit !important;
    margin-top: -4px !important;
    margin-left: -3.5px !important;
}