@import "./styles/Navbar.css";
@import "./styles/Dashboard.css";
@import "./styles/SignInLinks.css";
@import "./styles/SignOutLinks.css";
@import "./styles/DaySelector.css";
@import "./styles/NextPageButton.css";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

