.form {
    margin-left: 35%;
    margin-right: 30%;
    margin-bottom: 50%;
    margin-top: 10%;
    width: 30%;
    height: auto;
    border: 3px solid lightgrey;
    padding: 20px;
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: transparent;
    position: relative;
}

.form-group {
    display: flex;
    padding: 0px 0px 50px 0px;
    flex-direction: column;
    align-content: center;
    margin-bottom: 0px;
    width: 100%;
    position: relative;
}

.label {
    color: blue;
    padding-left: 0px;
    font-size: 20px;
    margin-bottom: 0px;
}


#outlined-basic {
    width: 100%;
    border: 1px solid rgb(136, 133, 133);
    margin-bottom: 0px;
}

.footer {
    margin: auto;
    margin-bottom: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: auto;
    padding-top: 0px;
    position:relative;
}

.button {
  border-radius: 10px;
  font-size: 20px;
  background-color: lightsalmon;
  width: 200%;
  padding: 7%;
  align-items: center;
}

#checkbox {
    font-size: 15px;
    margin-left: 0px;
}

#checkedbox {
    margin-right: 0px;
    padding: 0%;
}