.form {
    margin-left: 36%;
    margin-right: 30%;
    margin-bottom: 50%;
    margin-top: 10%;
    width: 30%;
    height: 30%;
    border: 1px solid lightslategray;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  
    background: transparent;
}

.form-group {
    padding: 0px;
    flex-direction: column;
    align-content: center;
    margin-top: 5%;
    margin-left: 0px;
    margin-right: 0px;
    width: 100%;
    height: 100%;
    position: relative;
}

.label {
    font-size: 16px;
    color: darkslategrey;
}

.button {
  border-radius: 50px !important;
  font-size: 20px !important;
  background-color: #F8B08B !important;
  width: 90% !important;
  margin-top: 10px !important;
  margin-bottom: 20px !important;
  position: relative !important;
}

#password {
    display: block;
    height: calc(1.5em + 0.75rem + 2px);
    padding-left: 0.6em;
    width: 97%;
    margin-right: 5em;
    border-radius: 0.25rem;
    background-origin: padding-box;
    border: 1px solid #ced4da;
    background-clip: padding-box;
    background-color: #fff;
    align-content: center;
}

.newuser{
    margin-left: 110%;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
}

.notice{
    color: blue;
}